<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net462" />
  <package id="Microsoft.NETCore.Portable.Compatibility" version="1.0.0" targetFramework="net462" />
  <package id="NConsole" version="3.6.6378.42120" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="NJsonSchema" version="9.4.5" targetFramework="net462" />
  <package id="NJsonSchema.CodeGeneration" version="8.33.6323.36234" targetFramework="net462" />
  <package id="NJsonSchema.CodeGeneration.CSharp" version="8.33.6323.36234" targetFramework="net462" />
  <package id="NJsonSchema.CodeGeneration.TypeScript" version="8.33.6323.36234" targetFramework="net462" />
  <package id="NSwag.Annotations" version="10.6.6324.28499" targetFramework="net462" />
  <package id="NSwag.AssemblyLoader" version="10.6.6324.28500" targetFramework="net462" />
  <package id="NSwag.CodeGeneration" version="10.6.6324.28497" targetFramework="net462" />
  <package id="NSwag.CodeGeneration.CSharp" version="10.6.6324.28500" targetFramework="net462" />
  <package id="NSwag.CodeGeneration.TypeScript" version="10.6.6324.28500" targetFramework="net462" />
  <package id="NSwag.Commands" version="10.6.6324.28500" targetFramework="net462" />
  <package id="NSwag.Core" version="10.6.6324.28497" targetFramework="net462" />
  <package id="NSwag.SwaggerGeneration" version="10.6.6324.28500" targetFramework="net462" />
  <package id="NSwag.SwaggerGeneration.WebApi" version="10.6.6324.28500" targetFramework="net462" />
</packages>